.wiki_item{
  margin-bottom: 10px;
  margin-right: 10px;
}
.wiki_title{
  text-decoration: underline;
}
.wiki_content{
  font-size: smaller;
}
.meta{
  font-size: 75%;
  color: green;
}
a.jlink{
  color: green;
}
.jlink.disabled {
  color: gray;
  cursor: unset;
  pointer-events:none;
}


